$social-tags: '';
$brand-small-icon-size:     36px;
$brand-medium-icon-size:    54px;
$brand-large-icon-size:     108px;

$gray-1:            #e5e5e5;
$gray-2:            #cccccc;
$gray-3:            #666666;
$gray-4:            #333333;

$brand-red:         #ea133a;
$brand-red-alt:     darken($brand-red, 10%);

$brand-orange:      #ff6600;
$brand-orange-alt:  darken($brand-orange, 10%);

$brand-green:       #66cc00;
$brand-green-alt:   darken($brand-green, 10%);

$brand-danger:      #c00;

$slide-width:               900px;
$slide-height:              700px;
$slide-width-widescreen:    1100px;
$slide-top-bottom-padding:  40px;
$slide-left-right-padding:  60px;
$slide-border-radius:       5px;

$slide-tap-area-width:      100px;

$article-content-top-padding: 45px;
